.result h1{

    text-align: center;
    font-weight: 600;

}

.result_data{

    width:55%;

    display: block;
    margin: auto;
}

table {
    width: 100%;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: #e2fad9;
    margin-top: 40px;
    
  }
  

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

th{
    background-color: rgb(203, 243, 213);
}  

.result_div{

    padding: 10px;
    background-color: #edf0ed;
}

.edit_btn{

    width:200px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: 255px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

.delete_btn{

    width:200px;
    height: 40px;
    background-color: rgb(154, 4, 4);
    color: white;
    margin-left: 230px;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;

}

.filter_bar{

   
    height: 60px;
    background-color: #103004;
    margin: 20px;
    border-radius: 10px;
}

.search_bar{

    width:300px;
    height: 40px;
    background-color: rgb(229, 229, 229);
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 10px;
}

.search_container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #fff;
    width: 300px;
}

.search_icon {
    color: #666;
    margin-right: 10px;
}

.search_bar {
    border: none;
    outline: none;
    flex: 1;
}

.report_yield{

    width:200px;
    height: 45px;
    background-color: #e2fad9;
    color: black;
    font-weight: bold;
    margin-left: 50px;
    border-radius: 20px;
    cursor: pointer;
}