 .PAtopic{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: bold;
 }
 
.PAproductForm{
    max-width: 600px;
    margin: 10px auto;
    padding: 30px;
    background-color: #3b2d2d2f;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', seri
 }

.PAform-group {
    margin-bottom: 10px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
    font-size: 15px;
}
.PAinarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.PAbtn {
    padding: 10px 30px;
    background-color: #0e1011;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 200px;
 }
button[type="submit"] {
    background-color: #090b0c;

}

.Qaddproblem_photo {

    width: 500px;
    height: 443px;
    float: left;
    padding-top: 10px;
  
  }
  .Qaddproblem_photo img {

    width: 120%;
    height: 467px;
    object-fit: cover;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }

  .QAddProblemForm{
    padding-top: 50px;
        width: 1200px;
        height: 450px;
        margin: auto;
    
  }

  .QForm{
    float:left;
    width: 580px;
    height: 400px;
    padding-left: 100px;    
    }