.recommend-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background: #62CD1436;
    justify-content: center;
}
body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f7f7f7;
    
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    
}

/* Header styles */
th {
    background-color: #3c893f;
    color: white;
}

/* Image styles */
.pest-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* Product image styling */
.product-image {
    width: 120px;
    height: auto;
}

.rotating-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.problem {

    align-content: center;
}
